<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="navCtrl.back()">
			  <ion-icon slot="start" name="arrow-back"></ion-icon>
			  Back
			</ion-button>
		</ion-buttons>
		<ion-title>Chat Test</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="!user || !messagesLoaded">
		Loading...
	</div>
	<div *ngIf="user && messagesLoaded">
		<ion-list>
			<ion-item *ngFor="let message of messages">
				<ion-label>
					<h3 *ngIf="message.author">{{message.author.first_name}} {{message.author.last_name}}</h3>
					<h3 *ngIf="!message.author">Loading...</h3>
					<p>{{message.content}}</p>
					<ion-button color="danger" (click)="deleteMessage(message)" *ngIf="message.author && message.author.id === user.uid">
						<ion-icon name="trash"></ion-icon>
					</ion-button>
				</ion-label>
			</ion-item>
		</ion-list>
		<ion-input placeholder="Write something" [(ngModel)]="messageDraft"></ion-input>
		<ion-button (click)="sendMessage()">
			<ion-icon slot="start" name="send"></ion-icon>
			Send
		</ion-button>
	</div>
</ion-content>